/* =========================================
   TITLES
========================================= */

.section-title {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 30px;

    margin-bottom: 40px;

}


.section-title span {

    width: 95px;

    height: 2px;

    background: var(--pink);

}


.section-title h2 {

    font-family: 'Playfair Display', serif;

    font-size: 42px;

    color: var(--blue);

    text-align: center;

}


.products-section {

    padding: 80px 0;

    background: white;

}


.products-grid {

    display: grid;

    grid-template-columns:
        repeat(5, 1fr);

    gap: 18px;

}


.product-card {

    overflow: hidden;

    border-radius: 15px;

    background: white;

    box-shadow:
        0 7px 25px rgba(9, 44, 80, .08);

    transition: .3s;

}


.product-card:hover {

    transform: translateY(-7px);

    box-shadow:
        0 15px 35px rgba(9, 44, 80, .15);

}


.product-image {

    height: 180px;

    overflow: hidden;

}


.product-image img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    transition: .4s;

}


.product-card:hover img {

    transform: scale(1.08);

}


.product-info {

    position: relative;

    padding: 30px 18px 18px;

    text-align: center;

    background: #fffaf8;

}


.product-icon {

    position: absolute;

    width: 48px;

    height: 48px;

    top: -24px;

    left: 50%;

    transform: translateX(-50%);

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 50%;

    border: 4px solid white;

    background: var(--pink);

    color: white;

}


.product-info h3 {

    font-family: 'Playfair Display', serif;

    font-size: 19px;

    margin-bottom: 9px;

}


.product-info p {

    font-size: 13px;

    line-height: 1.5;

    min-height: 40px;

}


.product-button {

    display: inline-block;

    margin-top: 15px;

    padding: 9px 12px;

    border-radius: 30px;

    background: #ffe7ee;

    color: var(--pink);

    font-size: 11px;

    font-weight: 700;

    transition: .3s;

}


.product-button:hover {

    background: var(--pink);

    color: white;

}