<section class="benefits">

  <div class="container benefits-grid">

    <!-- PRODUCTOS NATURALES -->

    <div class="benefit">

      <div class="benefit-icon">
        <i class="fa-solid fa-leaf"></i>
      </div>

      <h3>
        Productos naturales
      </h3>

      <p>
        Naturales y de calidad.
      </p>

    </div>


    <!-- ELABORACIÓN ARTESANAL -->

    <div class="benefit">

      <div class="benefit-icon">
        <i class="fa-solid fa-heart"></i>
      </div>

      <h3>
        Elaboración artesanal
      </h3>

      <p>
        Sabor y calidad en cada producto.
      </p>

    </div>


    <!-- CONSERVACIÓN -->

    <div class="benefit">

      <div class="benefit-icon">
        <i class="fa-solid fa-snowflake"></i>
      </div>

      <h3>
        Conservación
      </h3>

      <p>
        Conservamos todas sus propiedades.
      </p>

    </div>


    <!-- COMPROMISO -->

    <div class="benefit">

      <div class="benefit-icon">
        <i class="fa-solid fa-check"></i>
      </div>

      <h3>
        Compromiso
      </h3>

      <p>
        En cada pedido.
      </p>

    </div>

  </div>

</section>